<%= render partial: "header" %>


<div class="container">
<div class="row">
 <% @posts.each do |post| %>
<div class="col-md-3 card bg-white text-white margin-top-5per">
<%= link_to post do%>
  <%= image_tag 'guriko.jpg', class: 'card-img',alt: "Card image" %>

  <div class="card-img-overlay">

    <h4 class="card-title"><%= post.title %></h4>
    <p class="card-text"><%=post.created_at.strftime("%Y年%m月%d日")%></p>
  </div>
</div>
<% end %>
<% end %>
</div>
</div>


