<%= render partial: "posts/header" %>
<div class ="search">
<%= form_with(url: posts_searches_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "search", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
</div>
<% end %>
<div class="container">
<div class="row">
 <% @posts.each do |post| %>
    <%= render partial: "posts/post", locals: { post: post } %>
  <% end %>
</div>
</div>

<%= render partial: "posts/footer" %>

